@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima&display=swap');

#about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-title {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px 0 0 78px;
}
#about-title {
    color: #DDB892;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
}
.about-container {
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about-1stcontainer {
    width: 40%;
    height: 600px;
    border-right: 1px solid #DDB892;
}
.about-2ndcontainer {
    width: 40%;
    height: 600px;
}
.about-1stcontainer .basketball-logo{
    display: flex;
    justify-content: center;
}
.ballball {
    width: 382px;
    height: 300px;
    border-radius: 5%;
}
.about-2ndcontainer .code-logo{
    display: flex;
    justify-content: center;
}
.codecode {
    width: 380px;
    height: 300px;
    border-radius: 5%;
}
.about-paragraph {
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 20px;
    text-align: justify;
    margin: 0 20px;
    color: #DDB892;
    height: 120px;
    padding-top: 40px;
    letter-spacing: 2px;
}
@media (max-width: 414px) {
    #about-section {
        height: auto;
    }
    #about-title {
        padding: 0 0 50px 135px;
        margin-top: 50px;
    }
    .about-container {
        flex-direction: column;
        row-gap: 0;
    }
    .about-paragraph {
        font-size: 13px;
        height: auto;
    }
    .about-1stcontainer {
        width: 100%;
        height: 550px;
        border: none;
    }
    .about-2ndcontainer {
        width: 100%;
        height: 550px;
    }
    .ballball {
        width: 300px;
        height: 200px;
    }
    .codecode {
        width: 300px;
        height: 200px;
    }
}