@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima&display=swap');

.contact {
    width: 100%;
    background-color: #f9f9f9;
}

.contact .title {
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 24px;
    color: #DDB892;
    text-align: center;
    justify-content: start;
}

.contact .main-content {
    display: flex;
    width: 100%;
    column-gap: 64px;
    justify-content: center;
    padding: 0 0 64px 0;
}

.contact .main-content .content {
    display: flex;
    flex-direction: column;
}

.contact .main-content .content .contact-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 24px;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    color: #DDB892;
    text-align: center;
}

.contact .main-content .content .contact-data:hover {
    background-color: #ede0d4;
    cursor: pointer;
}

.contact .main-content .content .contact-data svg {
    height: 32px;
    width: auto;
}
@media (max-width: 414px) {
    .contact .title {
        font-size: 12px;
    }
    .contact .main-content .content .contact-data svg {
        height: 18px;
        width: auto;
    }
}