/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Shadows+Into+Light&display=swap');

.main-container {
    width: 100%;
    height: 890px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    column-gap: 130px;
}
.right-container {
    margin-bottom: 70px;
}
.ashlogo .ashash {
    width: 500px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 70px;
}
.text {
    color: #DDB892;
    margin-top: 40px;
}
.text h1 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 8px;
    font-size: 60px;
    margin-bottom: 20px;
}
.text h2 {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 5px;
    font-size: 24px;
    margin-bottom: 20px;
}
.resume {
    background-color: #DDB892;
    color: white;
    border-color: #DDB892;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 12px;
}
.resume:hover {
    background-color: #b08968;
}
@media (max-width: 414px) {
    .main-container {
        height: 650px;
        display: flex;
        flex-direction: column;
        column-gap: 0;
    }
    .right-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .ashlogo .ashash {
        width: 120px;
        height: 120px;
        margin-bottom: 0px;
    }
    .text h1 {
        font-size: 24px;
        letter-spacing: 3px;
    }
    .text h2 {
        font-size: 12px;
        letter-spacing: 3px;

    }
    .resume-btn {
        display: flex;
        justify-content: center;
    }
    .resume {
        width: 100%;
        height: 30px;
    }
}
/* @media (max-width: 1024px) {
    
} */